@page
@using ChatChallenge.WebApp.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
        <img src="~/images/chatBanner.jpg" alt="Nature" style="width:100%">

    <h1 class="display-4">Chat challenge project</h1>
    <p> By Sergio Demarco</p>
    <p>Github: <a href="#">here</a>.</p>
</div>
